:root {
	--font-main: var(--b-font-main);
	--font-mono: var(--b-font-mono);

	--color-text: var(--b-txt);
	--color-bg: var(--b-bg-1);
	--color-bg-2: var(--b-bg-2);
	--color-line: var(--b-line);
	--color-link: var(--b-link);
	--color-btn-bg: var(--b-btn-bg);
	--color-btn-txt: var(--b-btn-txt);
	--color-focus: var(--b-focus);

	--b-font-main: 'Roboto', sans-serif;
	--b-txt: #000000de;
	--b-link: #000000de;
	--container: 1230px;
	--color-title: #0C1936;
}