html {
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: var(--container);
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 42px;
	line-height: 1;
	font-weight: 700;
	color: var(--color-title);
	text-transform: uppercase;
	margin: 45px 0 48px;
	width: fit-content;
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 40px;
		height: 42px;
		left: -60px;
		bottom: 0;
		background: url('./images/title-bg2.png') no-repeat center;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 40px;
		height: 42px;
		right: -60px;
		bottom: 0;
		background: url('./images/title-bg.png') no-repeat center;
	}
}

ul {
	list-style: none;

	li {
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 8px;
			background: url('./images/cham.svg') no-repeat center;
			top: 7px;
			left: -15px;
		}
	}
}