.section4 {
	background: #F8F8F9;

	&__wrap {
		padding: 80px 15px;
	}

	.title {
		margin: 0 auto 50px;
	}

	&__test {
		padding-bottom: 75px;
	}

	&__content-inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 40px;
		padding-bottom: 50px;
	}

	&__content-item {
		margin-left: 20px;
		padding: 40px 40px 40px 100px;
		background: #FFFFFF;
		box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.08);
		border-radius: 20px;
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			border-bottom: 16px solid #09152F;
			border-left: 20px solid transparent;
			top: 45px;
			left: -20px;
		}

		&:hover {
			background: var(--color-title);
			color: #fff;

			h3 {
				background: linear-gradient(90deg, #A46E29 -95.37%, #AE7C30 -88.47%, #C49C47 -71.71%, #D7B85D -55.19%, #E7CF6F -39.16%, #F2DE7B -23.82%, #F7E47F -9.97%, #F2DF7A 8.27%, #E7CF6B 31.66%, #D6B752 57.76%, #C8A23E 77.83%, #BF8E2D 122.56%, #E3C762 194.87%, #F7E47F 224.44%, #F1DE79 234.97%, #E5CC6A 248.44%, #D2B251 263.55%, #BC9335 279.7%, #B2862D 286.22%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}

			li:after {
				background: url('./images/cham2.svg') no-repeat center;
			}

			.section4__content-number {
				background: linear-gradient(90deg, #A46E29 -95.37%, #AE7C30 -88.47%, #C49C47 -71.71%, #D7B85D -55.19%, #E7CF6F -39.16%, #F2DE7B -23.82%, #F7E47F -9.97%, #F2DF7A 8.27%, #E7CF6B 31.66%, #D6B752 57.76%, #C8A23E 77.83%, #BF8E2D 122.56%, #E3C762 194.87%, #F7E47F 224.44%, #F1DE79 234.97%, #E5CC6A 248.44%, #D2B251 263.55%, #BC9335 279.7%, #B2862D 286.22%);
				color: var(--color-title);
			}

			&::before {
				border-bottom-color: #543605;
			}

		}

		h3 {
			font-size: 24px;
			line-height: 1.24;
			text-transform: uppercase;
			margin: 0;
			color: var(--color-title);
		}

		ul {
			padding-left: 15px;
			margin: 0;
		}

		li {
			margin-top: 16px;
		}
	}

	&__content-number {
		position: absolute;
		font-size: 36px;
		line-height: 1.26;
		color: #fff;
		font-weight: 600;
		padding: 12px 16px;
		background: linear-gradient(180deg, #2E477A -80.36%, #0F1E42 108.93%);
		border-radius: 0px 12px 12px 0px;
		left: -20px;
		top: 61px;
	}

	.section3__tab2-item {
		border: 5px solid #C49C47;

		&::before {
			display: none;
		}
	}
}

@media (max-width:1024px) {
	.section4 {
		&__wrap {
			padding: 50px 15px;
		}

		&__content-item {
			padding: 20px 20px 30px 60px;
		}
	}
}

@media (max-width:767px) {
	.section4 {
		&__content-inner {
			grid-template-columns: 1fr;
		}

		&__content-item {
			padding: 20px 20px 29px 45px;

			h3 {
				font-size: 20px;
			}
		}

		&__content-number {
			font-size: 24px;
		}
	}
}