.section1 {
	&__inner {
		padding-top: 80px;
		align-items: flex-start;
	}

	.title::before {
		display: none;
	}

	&__content {
		width: 50%;
	}

	&__image {
		flex: 1;
		margin-right: 120px;

		img {
			width: 100%;
			height: 550px;
			object-fit: cover;
			border: 5px solid #d58c2e;
			border-bottom: none;
			border-radius: 50% 50% 0 0;
		}
	}
}