@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url("font/Roboto-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
	src: url("font/Roboto-Italic.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	src: url("font/Roboto-Medium.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: italic;
	src: url("font/Roboto-MediumItalic.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url("font/Roboto-Bold.ttf") format('truetype');
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: italic;
	src: url("font/Roboto-BoldItalic.ttf") format('truetype');
}